Hello, c'est un exemple 
{{ param }}
{%set A="3A" %}
{{ A }}
{%set x=5 %}
<br>
la valeur de x = {{x}}
<br>
{#{%set tab2=['cle'=>'valeur','cle2'=>'valeur2']%}#}
<br>
{%if 'Fabien' starts with 'a'%}
commence par a
{%else%}
cette chaine ne commence pas par la lettre a
{%endif%}
<br>
{%if 'Fabien' ends with 'n'%}
Finis par n
{%endif%}
<br>
{%set tab=[1,2,3]%}
{% for i in tab %}
{{i}}
{%endfor%}
<br>
{{"Hello"|upper}}
<br>
{%set a=5%}
{{a}}
<br>
<a href="{{path('app_acceuil')}}">Home </a>
<img src="{{ asset ('images/Taha_hussein.jpg')}}"/>

